{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Google Tag Manager -->
   <script>(function (w, d, s, l, i) {
         w[l] = w[l] || []; w[l].push({
            'gtm.start':
               new Date().getTime(), event: 'gtm.js'
         }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
               'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-55B9FCB');</script>
   <!-- End Google Tag Manager -->
   <!-- Global site tag (gtag.js) - Google Ads: 862859879 -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=AW-862859879"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'AW-862859879');
   </script>


   <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">

   <title>Giftcard | Amazon | iTunes | Google</title>
      <meta content="Cordial Exchange is the best and professional Giftcard trading website in Nigeria.
   We buy various Giftcards including iTunes Giftcards, Amazon Giftcards, Googleplay Giftcards, 
   Steam Cards and more! We pay in Naira." name="description">
      <meta content="giftcard, amazon gift card, visa gift card, itunes gift card, vanilla gift card,
   steam gift card, xbox gift card, google play gift card, sephora gift card, apple gift card,
   american express gift card, netflix gift card, paypal gift card, ebay gift card, free gift cards,
   playstation gift card, ps4 gift card, steam wallet gift card, mastercard giftcard, e gift cards,
   free amazon gift card" name="keywords">

      <!-- Favicons 
   <link href="{% static 'img/icon/favicon.png' %}" rel="icon">
   <link href="{% static 'img/icon/favicon.png' %}" rel="apple-touch-icon"> -->

   <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.png' %}"/>

      <!-- Google Fonts -->
      <link
         href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
         rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">

      <!-- Template Main CSS File -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Ads: 563236402 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-563236402"></script> 
   <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-563236402'); </script>

</head>

<body data-spy="scroll" data-target="#navbar-example">

   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55B9FCB" height="0" width="0"
         style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top">
      <div class="container d-flex">

         <div class="logo mr-auto">
            <!-- <h1 class="text-light"><a href="index.html"><span>e</span>Business</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Welcome to Giftcard | Cordial Exchange" class="img-fluid"></a>
         </div>

         <nav class="nav-menu d-none d-lg-block">
            <ul>
               <li class="active"><a href="{% url 'home' %}">Home</a></li>
               <li><a href="#services">Services</a></li>
               <li><a href="#aboutpage">About</a></li>
               <li><a href="#portfolio">Portfolio</a></li>
               <li><a href="#testimonials">Testimonials</a></li>
               <li><a href="#faq">F.A.Q</a></li>
               <li><a href="#contact">Contact</a></li>

            </ul>
         </nav><!-- .nav-menu -->

      </div>
   </header><!-- End Header -->


   {% block content %}

   {% endblock content %}

   <!-- ======= Footer ======= -->
   <footer>     

      <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>Cordial Exchange</h2>
                </div>

                <p>Cordial Exchange is a customer-centric, professional brand that provides optimum Giftard services. We buy all major Giftards like iTunes Giftards, Amazon Giftards, Google Play Giftards, and give instant payment in Naira.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/cordialexchange/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/Cordialexchang1?s=09"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/cordial.exchange"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          


          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>We Buy - Giftcards</h4>
                
                <div class="footer-contacts">
                  <p><span>Google | Amazon | iTunes | Vanilla | eBay | Play Station | Steam | 
                     Best Buy | Walmart | Target | Macy | JcPenny | Footlocker | Nike | American Express | 
                     Visa | Nordstorm | Sephora.
                  </span></p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Our Services</h4>
                  <ul>
                     <li>24/7 Availability</li>
                     <li>Instant Payment</li>
                     <li>Best Rates At Payout</li>
                     <li>Trusted and Secure</li>
                     <li>User Friendly Interface</li>
                     <li>Cordial Customer Support</li>
                  </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


         <div class="footer-area-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="copyright text-center">
                        <p>
                           &copy; Copyright 2020 <strong><a href="https://www.cordialexchange.com">Cordial Exchange</a></strong>. All Rights Reserved!
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>




         
   </footer><!-- End  Footer -->

   <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
   <div id="preloader"></div>

   <!-- Vendor JS Files -->
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
   <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
   <script src="{% static 'vendor/appear/jquery.appear.js' %}"></script>
   <script src="{% static 'vendor/knob/jquery.knob.js' %}"></script>
   <script src="{% static 'vendor/parallax/parallax.js' %}"></script>
   <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
   <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'vendor/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
   <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
   <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

   <!-- Template Main JS File -->
   <script src="{% static 'js/main.js' %}"></script>


   

   <script src="https://my.hellobar.com/f06ea0f8c3751bb9f2688341d48c841d00b23467.js" type="text/javascript" charset="utf-8" async="async"></script>

   <!-- Dashly BEGIN -->
<script type="text/javascript">
   !function(){function t(t,e){return function(){window.dashlyasync.push(t,arguments)}}if("undefined"==typeof dashly){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://cdn.dashly.app/api.min.js",document.getElementsByTagName("head")[0].appendChild(e),window.dashly={},window.dashlyasync=[],dashly.settings={};for(var n=["connect","track","identify","auth","onReady","addCallback","removeCallback","trackMessageInteraction"],a=0;a<n.length;a++)dashly[n[a]]=t(n[a])}}(),dashly.connect("5286-70239589dcd0abac855e8736338");
   </script>
   <!-- Dashly END -->
</body>

</html>