{% extends '_base.html' %}

{% load static %}

{% block title %} Giftcard | Cordial Exchange {% endblock title %}

{% block content %}


<!-- ======= Slider Section ======= -->
<div id="home" class="slider-area">
  <div class="bend niceties preview-2">
    <div id="ensign-nivoslider" class="slides">
      <img src="{% static 'img/slider/slider11.jpg' %}" alt="Homepage | Giftcard" title="#slider-direction-1" />
      <img src="{% static 'img/slider/slider22.jpg' %}" alt="Homepage | Giftcard" title="#slider-direction-2" />
      <img src="{% static 'img/slider/slider33.jpg' %}" alt="Homepage | Giftcard" title="#slider-direction-3" />
    </div>

    <!-- direction 1 -->
    <div id="slider-direction-1" class="slider-direction slider-one">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow animate__slideInDown animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <h2 class="title1">Welcome To Cordial Exchange</h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow animate__fadeIn animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                <h1 class="title2">The Best Platform To Sell Your Giftcards For Naira</h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="https://www.cordialexchange.com/login">Get Started</a>
                <a class="ready-btn page-scroll" href="#services">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction slider-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <h2 class="title1">All About Giftcards </h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow animate__fadeIn animate__animated" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">Trade Your Giftcards With Us</h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="https://www.cordialexchange.com/login">Get Started</a>
                <a class="ready-btn page-scroll" href="#services">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- direction 3 -->
    <div id="slider-direction-3" class="slider-direction slider-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <h2 class="title1">We Offer The Best Deals</h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow animate__fadeIn animate__animated" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">Thanks To Our Optimal Performance, Your Search For The Perfect Platform To Trade 
                Your Giftcard Is Now Over...
                </h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s"
                data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="https://www.cordialexchange.com/login">Get Started</a>
                <a class="ready-btn page-scroll" href="#services">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Slider -->

<main id="main">


  <!-- ======= Services Section ======= -->
  <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <!-- Start Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-check-square-o"></i>
                </a>
                <h4>24/7 Availability</h4>
                <p>
                  Sell any Giftcard anywhere and at any time using our modern giftcard trading platform
                  easily accessible on your Web Browser.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-credit-card"></i>
                </a>
                <h4>Instant Payment</h4>
                <p>
                  Using state-of-the-art payment procedures, you are guaranteed to get your cash transferred
                  into your account in split seconds.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-dollar"></i>
                </a>
                <h4>Best Rates At Payout</h4>
                <p>
                  Our rates are as cordial as they can be. We offer the best payouts for your assets based on the
                  current
                  average market
                  prices. No exhorbitant fees or charges are inclusive.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-handshake-o"></i>
                </a>
                <h4>Trusted and Secure</h4>
                <p>
                  We assure our users of the highest level of encryption and professionally audited exchange system.
                  So, do not worry. Relax and trade in confidence.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-user-o"></i>
                </a>
                <h4>User Friendly Interface</h4>
                <p>
                  Our platform is built with such thoughtfulness that will make it easy for you to navigate
                  your way around.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon">
                  <i class="fa fa-smile-o"></i>
                </a>
                <h4>Cordial Customer Support</h4>
                <p>
                  The Cordial Exchange brand is highly customer-centric. We focus on giving our customers the best
                  and we are ready to support all day, everyday.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Services Section -->


  <!-- ======= About Section ======= -->
  <div id="aboutpage" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About</h2>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>


  <div class="testimonials-aread">
    <div class="testi-innerd area-padding">
      <div class="testi-overlyd"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            
            <div class="testimonial-contentd text-center">
              
              
              <div class="single-testid">
                <div class="testi-textd">
                  <h6>Cordial Exchange is a customer-centric, professional brand that provides optimum Giftard services. 
                    We buy all major Giftards like iTunes Giftards, Amazon Giftards, Google Play Giftards, and give instant payment in Naira.</h6>
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
<!-- End About Section -->

  <!-- ======= Portfolio Section ======= -->
  <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Our Portfolio</h2>
          </div>
        </div>
      </div>
      <div class="row wesome-project-1 fix">
        <!-- Start Portfolio -page -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="awesome-menu ">
            <ul class="project-menu">
              <li>
                <a class="active" data-filter=".all">All</a>
              </li>
            
              <li>
                <a data-filter=".google">Google</a>
              </li>
              <li>
                <a data-filter=".steam">Steam</a>
              </li>
              <li>
                <a data-filter=".amazon">Amazon</a>
              </li>
              <li>
                <a data-filter=".ebay">eBay</a>
              </li>
              <li>
                <a data-filter=".itunes">iTunes </a>
              </li>
              
              
            </ul>
          </div>
        </div>
      </div>

      <div class="row awesome-project-content">

          <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 all">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/6.jpeg' %}" alt="Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/6.jpeg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 all">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/all1.jpg' %}" alt="Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/all1.jpg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 all">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/all4.jpg' %}" alt="Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/all.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 google">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/goog.png' %}" alt="Google Gifcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/goog.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 google">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/googl.png' %}" alt="Google Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/googl.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 google">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/google.png' %}" alt="Google Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/google.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 steam">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/steam1.png' %}" alt="Steam Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/steam1.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 steam">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/steam2.png' %}" alt="Steam Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/steam2.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 steam">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/steam7.jpg' %}" alt="Steam Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/steam7.jpg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->


        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 amazon">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/amazon.png' %}" alt="Amazon Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/amazon.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 amazon">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/amazon2.png' %}" alt="Amazon Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/amazon2.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

        
        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 amazon">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/2.jpeg' %}" alt="Amazon Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/2.jpeg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

           <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 ebay">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/ebay3.jpg' %}" alt="Ebay Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/ebay3.jpg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 ebay">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/42.png' %}" alt="Ebay Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/42.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 ebay">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/ebay.jpg' %}" alt="Ebay Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/ebay.jpg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->


        <!-- single-awesome-project start -->
        <div class="col-md-4 col-sm-4 col-xs-12 itunes">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/3.jpeg' %}" alt="iTunes Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/3.jpeg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 itunes">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/itunes2.jpg' %}" alt="iTunes Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/itunes2.jpg' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

         <!-- single-awesome-project start -->
         <div class="col-md-4 col-sm-4 col-xs-12 itunes">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a><img src="{% static 'img/portfolio/itunes.png' %}" alt="iTunes Giftcard" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/itunes.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-awesome-project end -->

      </div>
    </div>
  </div><!-- End Portfolio Section -->


      <!-- ======= Skills Section ======= -->
    <div class="our-skill-area fix hidden-sm">
      <div class="test-overly"></div>
      <div class="skill-bg area-padding-2">
        <div class="container">
          <!-- section-heading end -->
          <div class="row">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="95" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#f7921a" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Google</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#f7921a" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Steam</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#f7921a" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Amazon</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#f7921a" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">eBay</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div><!-- End Skills Section -->


  <!-- ======= Testimonials Section ======= -->
  <div id="testimonials" class="container ">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="testim" class="section-headline text-center">
          <h2>Testimonials</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="owl-carousel testimonial-carousel">
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      “I've been really happy with the service Provided by Cordial exchange.
                      I'm very cautious about the internet and it's so pleasant and lovely that they haven't
                      (cordial exchange) haven't given me any reason to regret this...It's been 3years
                      dealing with the platform, and I can't say anything aside from the fact that cordial
                      exchange is a very transparent, reliable, and trusted platform. Plus, they are very
                      fast at making payment.”</p>
                    <h6>Fola (Quan)</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      “I started using Cordial Exchange since 2019, and right from the beginning of our transaction,
                      they have never stopped being fast &amp; reliable. They are still the best platform to trade
                      Giftards in Nigeria”
                    </p>
                    <h6>Anesah David</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      “Cordial Exchange is the best Giftcard trading platform out there, I never regret doing business
                      with them, fast, reliable and with good rates. ”
                    </p>
                    <h6>Mr. Donald</h6>
                  </div>
                </div>
                <!-- End single item -->

              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div><!-- End Testimonials Section -->
    

  <!-- FAQ Section -->

  <div id="faq" class="container ">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="aboutsec" class="section-headline text-center">
          <h2>F.A.Qs</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Row -->
    <div class="row">
      <div class="col-xl-12 pa-0">

        <div class="container mt-sm-60 mt-30">
          <div class="hk-row">
            <div class="col-xl-12">
              <div class="card card-lg">

                <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between activestate">
                      <a role="button" data-toggle="collapse" href="#collapse_1i" aria-expanded="true">How to Sell
                        Giftcards On The Website?</a>
                    </div>
                    <div id="collapse_1i" class="collapse show" data-parent="#accordion_2" role="tabpanel">
                      <div class="card-body pa-15">
                        <h6>
                          <ol>
                            <li>Login on our homepage at "cordialexchange.com/login"</li>
                            <li>Select Giftcard on the menu in the dashboard you want to sell.</li>
                            <li>Select the brand of the Giftcard</li>
                            <li>Select the card currency.</li>
                            <li>Select the card type.</li>
                            <li>Enter amount and other order details you will like us to know.</li>
                            <li>Click on upload Giftcard to upload your card.</li>
                            <li>Submit. Thats all.</li>
                            <li>Once your card is verified you will be credited automatically in your Naira wallet.</li>
                          </ol>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header d-flex justify-content-between">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i"
                        aria-expanded="false">I Forgot My Password, What Can I Do?</a>
                    </div>
                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                      <div class="card-body pa-15">
                        <h6>
                          <ol>
                            <li>In case you forgot your password, proceed to our website and login.</li>
                            <li>Right on the login page, you will see a "Forgot Password" link.</li>
                            <li>Click on the link and you will be asked to Input your email address, click on “Submit”
                              after you have provided your email address.</li>
                            <li>You will be sent an email containing the reset password link.</li>
                            <li>Kindly check your spam folder if you don't find it in your inbox.</li>
                            <li>Our support team is always available to assist.</li>
                          </ol>
                        </h6>
                      </div>
                    </div>
                  </div>

                  

                  <div class="card">
                    <div class="card-header d-flex justify-content-between">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_3i"
                        aria-expanded="false">Can I Sell Any Kind of Giftcard?</a>
                    </div>
                    <div id="collapse_3i" class="collapse" data-parent="#accordion_2">
                      <div class="card-body pa-15">
                        <h6>
                          <ol>
                            <li>We accept Amazon, Apple, Wallmart, iTunes and a number of popularly known Giftcards.
                            </li>
                            <li>You can easily refer to our website where we have a comprehensive list of Giftcards we
                              purchase.</li>
                          </ol>
                        </h6>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header d-flex justify-content-between">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_4i"
                        aria-expanded="false">How Do I Upload My Giftcard On The Platform?</a>
                    </div>
                    <div id="collapse_4i" class="collapse" data-parent="#accordion_2">
                      <div class="card-body pa-15">
                        <h6>
                          <ol>
                            <li>Once you register and are able to login, you can click on the Giftcard section
                            </li>
                            <li>There, you would be shown a variety of cards we purchase.</li>
                              <li>Select the one that is applicable and input all the necessary details requested for.</li>
                              <li>The interface is very easy and user-friendly. Shouldn't be a problem</li>
                          </ol>
                        </h6>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header d-flex justify-content-between">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_5i"
                        aria-expanded="false">How Safe Is This Site?</a>
                    </div>
                    <div id="collapse_5i" class="collapse" data-parent="#accordion_2">
                      <div class="card-body pa-15">
                        <h6>
                          <ol>
                            <li>Our platform is safe and free from external interference.
                            </li>
                            <li>Your details are secured with zero access to any third party</li>
                            <li>Trade securely with Cordial Exchange.</li>
                          </ol>
                        </h6>
                      </div>
                    </div>
                  </div>
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>

    <!-- End FAQ Section -->


    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center">
              <h3>We Provide The Best Customer Experience Nationwide. Start Trading</h3>
              <a class="sus-btn" href="https://www.cordialexchange.com/login">Click Here</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Suscribe Section -->


    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Contact us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-mobile"></i>
                  <p>
                    Call: +234 903 639 3128<br>
                    <span>Monday-Friday (9am-5pm)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-envelope-o"></i>
                  <p>
                    Email: admin@cordialexchange.io<br>
                    <span>Web: www.cordialexchange.com</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-map-marker"></i>
                  <p>
                    Location: 18A, Road 3 Ikota Villa Estate <br>
                    <span>Lekki - Epe Expy, 101245, Lagos Nigeria.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

</main><!-- End #main -->



{% endblock content %}